<div class="home-container">
  <h1 class="text-center">Pharmacy Management System</h1>
  <div class="cards-grid">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Receive Medicine</h5>      
        <a href="receive-med" class="btn btn-primary">Reveive-Medicine</a>
      </div>    
    </div>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Medicine Inventory</h5>      
        <a href="inventory" class="btn btn-primary">Medicine-Inventory</a>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Create Invoice</h5>      
        <a href="invoice" class="btn btn-primary">Create-Invoice</a>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Invoice History</h5>      
        <a href="invoice-history" class="btn btn-primary">Invoice-History</a>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Employee Management</h5>      
        <a href="employee" class="btn btn-primary">Employee</a>
      </div>
    </div>
  </div>
</div>