<div class="card w-50 mb-3">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
      <a href="receive-med" class="btn btn-primary">Reveive-Medicine</a>
    </div>    
  </div>

  <div class="card w-50 mb-3">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
      <a href="inventory" class="btn btn-primary">Medicine-Inventory</a>
    </div>
  </div>
  
  <div class="card w-50 mb-3">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
      <a href="invoice" class="btn btn-primary">Create-Invoice</a>
    </div>
  </div>

  <div class="card w-50 mb-3">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
      <a href="sales-history" class="btn btn-primary">Sales-History</a>
    </div>
  </div>

  <div class="card w-50 mb-3">
    <div class="card-body">
      <h5 class="card-title">Employee-Management</h5>
      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
      <a href="employee" class="btn btn-primary">Employee</a>
    </div>
  </div>