<div class="home-container">
  <h1 class="text-center">Pharmacy Management System</h1>
  <div class="cards-grid">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Purchase Medicine Form</h5>      
        <a href="dashboard/receive-med" class="btn btn-primary">Purchase-Now</a>
      </div>    
    </div>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Medicine Inventory</h5>      
        <a href="dashboard/inventory" class="btn btn-primary">Medicine-Inventory</a>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Create Invoice</h5>      
        <a href="dashboard/invoice" class="btn btn-primary">Create-Invoice</a>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Invoice History</h5>      
        <a href="dashboard/invoice-history" class="btn btn-primary">View</a>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Daily Medicine Purchase & Sale</h5>      
        <a href="dashboard/daily-report" class="btn btn-primary">View-Report</a>
      </div>
    </div>     
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Low Stock Product List</h5>      
        <a href="dashboard/low-stock" class="btn btn-primary">View</a>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title text-center">Access-New-Company/Medicine/Generic/Category</h5>      
        <a href="/dashboard/access-new" class="btn btn-primary">Access-Now</a>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title text-center">Access-New-Employee</h5>      
        <a href="registration" class="btn btn-primary">Access-Now</a>
      </div>
    </div>

    <div class="card">
      <div class="card-body">
        <h5 class="card-title text-center">Employee-List</h5>      
        <a href="/dashboard/user-list" class="btn btn-primary">View-Employees</a>
      </div>
    </div>
  </div>
</div>