<div class="container mb-4">
  <h2 class="text-center">Medicine Names</h2>

  <form (ngSubmit)="addMedicineName()" class="d-flex gap-2 mb-4">
    <input
      type="text"
      class="form-control"
      [(ngModel)]="newMedicineName"
      name="medicineName"      
      placeholder="Enter new medicine name"
      required
    />
    <button type="submit" class="btn btn-primary">➕Add</button>
  </form>

  <h3 class="mt-4">Medicine List</h3>
  <table class="table table-bordered table-hover table-striped" >
    <thead class="table-dark">
      <tr>
        <th>#</th>
        <th>Medicine List</th>
        <th class="text-center">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let m of medicineNames; let i = index">
        <td>{{i+1}}</td>
        <td>{{ m.medicineName }}</td>
        <td>
          <button class="btn btn-sm btn-danger" (click)="deleteMedicineName(m.id)">🗑️Remove</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
