<nav class="navbar navbar-expand-lg bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Home</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="dashboard/receive-med">Receive-Medicine</a>
            </li>
            <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="dashboard/inventory">Inventory</a>
          </li>
          <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="dashboard/invoice">Create-Invoice</a>
        </li>
        <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="dashboard/invoice-history">Invoice-History</a>
        </li>
        <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="dashboard/employee">Employee-Management</a>
        </li>
        <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="dashboard/daily-report">Daily-Report</a>
        </li>
        <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="dashboard/company-medicine-input">Add-company</a>
        </li>
        <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="dashboard/add-medicine">Add-Medicine</a>
        </li>
        <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="dashboard/new-category">Add-Category</a>
        </li>
        <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="dashboard/new-generic">Add-Generic</a>
        </li>
        <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="dashboard/low-stock">Low-stock-products</a>
        </li>

        <li class="nav-item">
          <a href="login">Login</a>
        </li>
          </ul>
        </div>
      </div>
    </nav>