<div class="company-card">
  <h2>Company Name Entry</h2>


  <form (ngSubmit)="onSubmit()">
    <input
      type="text"
      class="form-control"
      [(ngModel)]="newCompany.companyName"
      name="companyName" required
      placeholder="Enter company name"
      required/>      
    <button class="btn btn-primary" type="submit">➕Save</button>
  </form>


  <h3 class="mt-4">Existing Companies</h3>
  <table class="table table-bordered table-hover table-striped">
    <thead class="table-dark">
      <tr>
        <th>#</th>
        <th>Company List</th>
        <th class="text-center">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let c of companyList; let i = index">
        <td>{{i + 1}}</td>
        <td>{{ c.companyName }}</td>
        <td class="text-center">
          <button class="btn btn-sm btn-danger" (click)="deleteCompany(c.id)">🗑️Remove</button>
        </td>
      </tr>
    </tbody>
  </table>  
</div>